.container{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.Page-Title { 
    color: coral;
}

h1 {color: coral
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:Gill Sans MT
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;

}
 .card{
    width: 270px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    margin:10px;
    overflow: hidden;
 }

 .card-image{
    Background: white
    height 170px;
    margin-bottom: 15px
    background-size; cover
 }